.offset-text {
  height: 45vh;
  width: 100%;
}

.normal-text,
.big-text {
  z-index: 2;
  text-align: center;
}

.normal-text {
  font-size: 2rem;
  /* color: #ffff3f; */
  color: white;
  font-family: 'Raleway';
}

@media (max-width: 576px) {
  .normal-text {
    font-size: 1.4rem;
  }
}

.big-text {
  font-size: 3rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Londrina Solid';
  font-weight: 300;
}

@media (max-width: 576px) {
  .big-text {
    font-size: 2.1rem;
  }
}

p {
  margin: 0;
}

.new-paragraph {
  margin-top: 1rem;
}
