.container {
  background-image: url('./portugal.webp');
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-padding-top: 100px;
}

body,
html {
  margin: 0%;
  height: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}
